*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
}

#root {
  min-height: 100%;
  padding: 20px;
}

.accent {
  position: absolute;
  height: 190px;
  background: #000;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.editor {
  max-width: 800px;
  background: #fff;
  min-height: calc(100vh - 40px);
  margin: auto;
  display: grid;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  margin: 10px 0px;
}

p {
  margin: 15px 0px;
}

ul,
ol {
  margin: 10px 30px;
}

li {
  margin: 4px 0px;
}

pre {
  background: #efefef;
  padding: 2px;
  border-radius: 3px;
  display: inline;
}

.editor-ol {
  list-style-type: decimal;
}

.editor-ol > .editor-ol {
  list-style-type: lower-alpha;
}

.editor-ol > .editor-ol > .editor-ol {
  list-style-type: lower-roman;
}

.editor-ol > .editor-ol > .editor-ol > .editor-ol {
  list-style-type: decimal-leading-zero;
}

.editor-ol > .editor-ol > .editor-ol > .editor-ol > .editor-ol {
  list-style-type: upper-alpha;
}

.editor-ol > .editor-ol > .editor-ol > .editor-ol > .editor-ol > .editor-ol {
  list-style-type: upper-roman;
}
